<a href="https://colab.research.google.com/github/adamabednarek/ml-python/blob/master/Excercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
#Libraries import
import numpy as np
import pandas as pd
import sklearn

#Check version of sklearn library
#print(sklearn.__version__)

#Generate input data set
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

#Change dataset into data frame
df_raw = pd.DataFrame(data)

#Copy the initial data frame
df = df_raw.copy()

#Change types of data
for col in ['size', 'color', 'gender', 'bought']:
  df[col] = df[col].astype('category')

for col in ['weight']:
  df[col] = df[col].astype('float64')

#To check
#df.describe(include=['category']).T

#To generate labels for the investigated parameter
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])
#OR to make it at once:
#le.fit_transform(df['bought'])

#Modification of the DataFrame
df['bought'] = le.fit_transform(df['bought'])

#Inverse operation
df['bought'] = le.inverse_transform(df['bought'])

#To generate labels for the initial parameters with OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
encoder.fit(df[['size']])
encoder.transform(df[['size']])
encoder = OneHotEncoder(drop='first', sparse=False)
encoder.fit_transform(df[['size']])

#We do not have to use hte OneHotEncoder since we do have the GetDummies
#available in the Pandas library

#To generate labels for the initial parameters with Pandas
pd.get_dummies(data=df)
pd.get_dummies(data=df, drop_first=True)
pd.get_dummies(data=df, drop_first=True, sparse=False)

#To standarize the numerical data with StandardScaler class with own function
def standarize(x):
  return (x - x.mean()) / x.std()

#To standarize the numerical data with StandardScaler
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#scaler.fit(df[['price']])
#scaler.transform(df[['price']])

#To standarize allthe numerical data with StandardScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price','weight']])

#To finish the table by encoding category variable
df = pd.get_dummies(data=df, drop_first=True)
df

      price    weight  size_M  ...  color_red  gender_male  bought_yes
0  1.845062  1.366002       0  ...          1            0           1
1 -0.691898  0.623610       0  ...          0            1           0
2 -0.461266 -1.603567       1  ...          0            1           1
3  0.230633 -0.415740       0  ...          0            0           0
4 -0.922531  0.029696       1  ...          1            0           1

[5 rows x 8 columns]