<a href="https://colab.research.google.com/github/adamabednarek/ml-python/blob/master/Excercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
#Libraries import
import numpy as np
import pandas as pd
import sklearn

#Check version of sklearn library
#print(sklearn.__version__)

#Generate input data set
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

#Change dataset into data frame
df_raw = pd.DataFrame(data)

#Copy the initial data frame
df = df_raw.copy()
#df.info()

#Change types of data
for col in ['size', 'color', 'gender', 'bought']:
  df[col] = df[col].astype('category')

for col in ['weight']:
  df[col] = df[col].astype('float64')

#To check
#df.describe(include=['category']).T

#To generate labels
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])
#OR to make it at once:
#le.fit_transform(df['bought'])

#Modification of the DataFrame
df['bought'] = le.fit_transform(df['bought'])

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   410.0       1